@import './variables.styl'

html
  font-size 16px
  
  @media (max-width: 1080px)
    font-size 14px
    
  @media (max-width: 768px)
    font-size 12px
    
  @media (max-width: 480px)
    font-size 10px
    
  @media (max-height: 900px)
    font-size 12px
    
  @media (max-height: 700px)
    font-size 10px


body
  font-family $fuente-principal
  background-color $sgs-azul-100
  color $sgs-carbon
  line-height $altura-linea-base
  overflow-wrap break-word

h1, h2, h3, h4, h5, h6
  color $sgs-naranja
  margin-bottom 1.5rem
  line-height 1.25
  line-height $altura-linea-encabezados
  margin-bottom 1.5rem
  font-weight $peso-negrita
  text-wrap balance

h1
  font-size 3.5rem

h2
  font-size 2.5rem

p
  margin-bottom 1.25rem
  color $sgs-carbon
  margin-bottom 2.5rem
  font-size 1.5rem
  line-height 1.5


.boton
  display inline-block
  padding 0.75rem 1.5rem
  border-radius 3em
  font-size 2rem
  font-weight $peso-negrita
  text-decoration none
  transition all 0.3s ease
  cursor pointer
  border none
  text-wrap balance
  user-select none
  
  // Para tablets y dispositivos de ancho medio (1080px incluido)
  @media (max-width: 1080px)
    font-size 1.5rem
    padding 0.6em 1.8em
    
  @media (max-width: 480px)
    font-size 1rem
    padding 0.5em 2em

.boton-primario
  @extend .boton
  background-color $sgs-naranja
  color $sgs-blanco
  padding 0.5em 2em
  box-shadow 0 4px 12px rgba(202, 67, 0, 0.3)
  &:hover
    background-color darken($sgs-naranja, 10%)

.boton-secundario
  @extend .boton
  background-color $sgs-carbon
  color $sgs-blanco
  &:hover
    background-color $sgs-gris-900

button
  @extend .boton-primario

.vista
  display flex
  justify-content center
  align-items center
  text-align center
  flex-direction column
  min-height 100%
  width 100%
  padding 0.5rem
  box-sizing border-box
  
  @media (orientation: landscape)
    flex-direction row
    gap 2rem


.tarjeta
  background rgba($sgs-blanco, 0.7)
  border 1px solid rgba($sgs-azul-100, 0.3)
  border-radius 1rem
  box-shadow 0 8px 32px 0 rgba($sgs-azul-500, 0.3)
  padding 1.5rem 1rem
  max-width 100%
  max-height 95%
  display flex
  flex-direction column
  justify-content center
  align-items center
  box-sizing border-box
  
  @media (min-width: 480px)
    padding 2rem 1.5rem
    max-width 95%
  
  @media (min-width: 768px)
    padding 4rem 3rem
  
  @media (orientation: landscape)
    flex-direction row
    gap 2rem
