$sgs-naranja = #CA4300
$sgs-blanco = #FFFFFF
$sgs-azul-100 = #F6F9FC
$sgs-carbon = #3C515B
$sgs-amarillo = #FAA61A
$sgs-gris-900 = #252525
$sgs-plum = #900C3F
$sgs-rojo = #F5262E
$sgs-verde = #57C785
$sgs-azul-500 = #49738B
$fuente-principal = 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
$fuente-fallback = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
$peso-libro = 400
$peso-negrita = 700
$altura-linea-base = 1.2
$altura-linea-encabezados = 1.00